.button {
    background-color: #919595;
    border: 1;
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 8px;
    vertical-align: 10px;
    width: 80px;
    height: 40px;
}
.divbutt {
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    min-width: 69px;
    max-width: 1600px;
    justify-content: right;
}
#canvas {
    width: 90%;
    justify-content: left;
    min-width: 300px;
    max-width: 1600px;
}
.divmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.divmess {
}
