.button {
    background-color: #919595;
    border: 1;
    color: black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    width: 60px;
    height: 40px;
    min-width: 100px;
}
.divbutt {
    width: 10%;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    min-width: 60px;
    max-width: 1200px;
    justify-content: center;
}
#canvas {
    width: 90%;
    justify-content: left;
    min-width: 200px;
    max-width: 4320px;
    min-height: 160px;
    max-height: 2160px;
    /*border-style: solid;*/
}
.divmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modal1 {
    display: none; /* Hidden by default */
    position: absolute;
    top: 15%;
    /*left: 30%;*/
    /*width: 90%;*/
    height: 550px;
    min-height: 190px;
    min-width: 320px;
    text-align: center;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -3px 0px 0 #000,
        3px 0px 0 #000,
        0px -3px 0 #000,
        0px 3px 0 #000;
    background-color: #ffffffc8;
    font-size: 60px;
    font-weight: bold;
}

/* Modal Content */

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.pokus {
    background-color: #fff222;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

