.button {
    background-color: #919595;
    border: 1;
    color: black;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    width: 60px;
    height: 40px;
    min-width: 100px;
}
.divbutt {
    width: 12%;
    display: flex;
    margin-top: 5px;
    margin-bottom: 15px;
    min-width: 75px;
    max-width: 1200px;
}
#canvas {
    width: 88%;
    min-width: 200px;
    max-width: 4320px;
    min-height: 160px;
    max-height: 2160px;
    /*border-style: solid;*/
}
.divmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modalwait {
    display: none; /* Hidden by default */
    position: absolute;
    top: 15%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -3px 0px 0 #000,
        3px 0px 0 #000,
        0px -3px 0 #000,
        0px 3px 0 #000;
    background-color: #fffffff8;
    font-size: 60px;
    font-weight: bold;
}
/* Modal Content */
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
