html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

@media (orientation: landscape) and (max-width: 980px) {
    body {
        margin-bottom: 0px;
    }
    .footer {
        display: none !important;
    }
}

@media (orientation: portrait) and (max-width: 420px) {
    .seat {
        word-wrap: break-word;
        max-width: 70px;
    }
}
