.btnwid {
    width: 100% !important;
    margin-top: 5px;
    margin-right: 5px;
}
.btnbig {
    width: 100% !important;
    margin-top: 5px;
    margin-right: 5px;
}
.divbutt {
    margin-top: 5px;
    margin-bottom: 10px;
}
@media (orientation: landscape) and (min-width: 850px) {
    .divbutt {
        width: 12%;
    }
    #canvas {
        width: 88%;
        /*background: yellow;*/
    }
    .btnbig {
        height: 11% !important;
    }
    .btnwid {
        height: 11% !important;
    }
}
@media (orientation: portrait) and (min-width: 350px) {
    .divbutt {
        width: 315px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #canvas {
        width: 100%;
        /*background: green*/
    }
    .btnbig {
        width: 150px !important;
    }
    .btnwid {
        width: 100px !important;
    }
}
.divmain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.modalwait {
    display: none; /* Hidden by default */
    position: absolute;
    top: 15%;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000,
        -3px 0px 0 #000,
        3px 0px 0 #000,
        0px -3px 0 #000,
        0px 3px 0 #000;
    background-color: #fffffff8;
    font-size: 60px;
    font-weight: bold;
}
/* Modal Content */
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
