{% extends "base.html" %}

{%block content%}
<h2>Archived games</h2>
<div class="table-responsive-sm">
    <table class="table table-hover table-sm">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Player 1</th>
        <th scope="col">Player 2</th>
        <th scope="col">Player 3</th>
        <th scope="col"></th>
        <th scope="col">Last move</th>
        <th class="d-none d-sm-table-cell" scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for game in games %}
        {% set onmove = (game.slog|length // 4) % 3 %}
        <tr>
        <th scope="row">{{game.id}}</th>
        {% if game.player_0.id == game.owner_id %}
        {% if onmove == 0 %}
        <td><strong style="color:#FF0000";>{{game.player_0.username}}</strong></td>
        {% else %}
        <td><strong>{{game.player_0.username}}</strong></td>
        {% endif %}
        {% else %}
        {% if onmove == 0 %}
        <td><span style="color:#FF0000";>{{game.player_0.username}}</span></td>
        {% else %}
        <td><span>{{game.player_0.username}}</span></td>
        {% endif %}
        {% endif %}
        {% if game.player_1.id == game.owner_id %}
        {% if onmove == 1 %}
        <td><strong style="color:#FF0000";>{{game.player_1.username}}</strong></td>
        {% else %}
        <td><strong>{{game.player_1.username}}</strong></td>
        {% endif %}
        {% else %}
        {% if onmove == 1 %}
        <td><span style="color:#FF0000";>{{game.player_1.username}}</span></td>
        {% else %}
        <td><span>{{game.player_1.username}}</span></td>
        {% endif %}
        {% endif %}
        {% if game.player_2.id == game.owner_id %}
        {% if onmove == 2 %}
        <td><strong style="color:#FF0000";>{{game.player_2.username}}</strong></td>
        {% else %}
        <td><strong>{{game.player_2.username}}</strong></td>
        {% endif %}
        {% else %}
        {% if onmove == 2 %}
        <td><span style="color:#FF0000";>{{game.player_2.username}}</span></td>
        {% else %}
        <td><span>{{game.player_2.username}}</span></td>
        {% endif %}
        {% endif %}
        <td>
            <a class="btn btn-warning btn-sm mt-0" href="{{ url_for('play', id=game.id) }}" role="button">View</a>
            <a class="btn btn-success btn-sm mt-1 mt-md-0" href="{{ url_for('playlx', id=game.id) }}" role="button">View</a>
        </td>
        <td>{{game.modified_at|strftime}}</td>
        <td class="d-none d-sm-table-cell">{{game.created_at|strftime}}</td>
        </tr>
        {% endfor %}
   </tbody>
   </table>
</div>
{%endblock%}
