{% extends "base.html" %}

{%block content%}
<h2>Archived games</h2>
<div class="table-responsive-sm">
  <table class="table table-hover table-sm align-middle">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Seat 1</th>
    <th scope="col">Seat 2</th>
    <th scope="col">Seat 3</th>
    <th scope="col"></th>
    <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    <tr>
    <th scope="row">{{game.id}}</th>
    <td class="seat">
    {% if game.player_0_score > 0 %}
    <strong class="{{ winner_color }}">{{game.player_0.username}} ({{ game.player_0_score|int }})</strong>
    {% else %}
    <span>{{game.player_0.username}} ({{ game.player_0_score|int }})</span>
    {% endif %}
    </td>
    <td class="seat">
      {% if game.player_1_score > 0 %}
    <strong class="{{ winner_color }}">{{game.player_1.username}} ({{ game.player_1_score|int }})</strong>
    {% else %}
    <span>{{game.player_1.username}} ({{ game.player_1_score|int }})</span>
    {% endif %}
    </td>
    <td class="seat">
      {% if game.player_2_score > 0 %}
    <strong class="{{ winner_color }}">{{game.player_2.username}} ({{ game.player_2_score|int }})</strong>
    {% else %}
    <span>{{game.player_2.username}} ({{ game.player_2_score|int }})</span>
    {% endif %}
    </td>
    <td>
      {% if board == "ondro" %}
      <a class="btn btn-success btn-sm" href="{{ url_for('playlx', id=game.id) }}" role="button">View</a>
      {% else %}
      <a class="btn btn-success btn-sm" href="{{ url_for('play', id=game.id) }}" role="button">View</a>
      {% endif %}
    </td>
    <td>{{game.modified_at - game.created_at}}</td>
    </tr>
    {% endfor %}
   </tbody>
   </table>
</div>
{%endblock%}
