{% from 'bootstrap5/utils.html' import render_messages %}
{% set on_move_color = "text-warning" if theme["app"]["theme"] == "dark" else "text-success" %}
{% set winner_color = "text-danger" if theme["app"]["theme"] == "dark" else "text-primary" %}
<!doctype html>
<html lang="en" data-bs-theme="{{ theme["app"]["theme"] }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oxanium:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
    <title>Trichess</title>
  </head>
  <body>
    <header id="header">
      {% from 'bootstrap5/nav.html' import render_nav_item %}
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="{{ url_for('active') }}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
              {% if current_user.id != 1 %}
              <li class="nav-item"><a class="nav-item nav-link" href="{{ url_for('available') }}">Available{% if navailable>0 %}<span class="badge bg-danger ps-1 ms-1">{{navailable}}</span>{% endif %}</a></li>
              <li class="nav-item">{{ render_nav_item('archive', 'Archive') }}</li>
              <li class="nav-item">{{ render_nav_item('new', 'New game') }}</li>
              <li class="nav-item">{{ render_nav_item('profile', 'Profile') }}</li>
              <li class="nav-item">{{ render_nav_item('rating', 'Ratings') }}</li>
              <li class="nav-item">{{ render_nav_item('help', 'Help') }}</li>
              {% else %}
              <li class="nav-item">{{ render_nav_item('admin_games', 'All games') }}</li>
              <li class="nav-item">{{ render_nav_item('admin_users', 'All users') }}</li>
              <li class="nav-item">{{ render_nav_item('register', 'Add user') }}</li>
              <li class="nav-item">{{ render_nav_item('profile', 'Profile') }}</li>
              <li class="nav-item">{{ render_nav_item('rating', 'Ratings') }}</li>
              {% endif %}
            {% endif %}
            </ul>
            <form action="{{ url_for('index') }}" method="post" class="d-flex" role="form">
            {% if current_user.is_authenticated %}
              <button class="btn btn-light" type="submit" name="action" value="logout">Logout</button>
            {% else %}
              <button class="btn btn-light" type="submit" name="action" value="login">Login</button>
            {% endif %}
            </form>
          </div>
        </div>
      </nav>
    </header>
    <main class="flex-shrink-0">
      {{ render_messages(dismissible=True) }}
      <!-- Your page content -->
      {% if board is true %}
      <div class="container-fluid mt-2">
      {% else %}
      <div class="container mt-4">
      {% endif %}
      {% block content %}{% endblock %}
      </div>
    </main>
    <footer class="footer bg-body-secondary" id="baseFooter">
      <div class="container text-center">
        <span class="text-secondary">© 2025 Trichess - Ondro & Filio</span>
      </div>
    </footer>
    {{ bootstrap.load_js() }}
    {% block scripts %}{% endblock %}
  </body>
</html>
