{% extends "base.html" %}

{%block content%}
<h2>Awaiting games</h2>
<h4 class="text-center">My games</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover table-borderless table-sm">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Player 1</th>
        <th scope="col">Player 2</th>
        <th scope="col">Player 3</th>
        <th scope="col">Created</th>
        <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <form action="{{ url_for('created') }}" method="post" class="form" role="form">
        {% for game in games %}
        <tr>
        <th scope="row">{{game.id}}</th>
        <td>{{game.player_0.username}}</td>
        <td>{{game.player_1.username}}</td>
        <td>{{game.player_2.username}}</td>
        <td>{{game.created_at}}</td>
        <td><button type="submit" class="btn btn-danger btn-sm" name="board" value="{{game.id}}">Delete</button></td>
        </tr>
        {% endfor %}
        </form>
    </tbody>
    </table>
</div>
<h4 class="text-center">Joined games</h4>
<div class="table-responsive">
    <table class="table table-striped table-hover">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Player 1</th>
        <th scope="col">Player 2</th>
        <th scope="col">Player 3</th>
        <th scope="col">Created</th>
        </tr>
    </thead>
    <tbody>
        {% for game in joined %}
        <tr>
        <th scope="row">{{game.id}}</th>
        <td>{{game.player_0.username}}</td>
        <td>{{game.player_1.username}}</td>
        <td>{{game.player_2.username}}</td>
        <td>{{game.created_at}}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{%endblock%}
