{% extends "base.html" %}

{%block content%}
<h2>Active games</h2>
<div class="table-responsive-sm">
  <table class="table table-hover table-sm align-middle">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Player 1</th>
    <th scope="col">Player 2</th>
    <th scope="col">Player 3</th>
    <th scope="col"></th>
    <th scope="col">Last move</th>
    <th class="d-none d-sm-table-cell" scope="col">Created</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    {% if game.onmove == 0 %}
    {% if game.player_0.id == uid %}
    <tr class="table-active">
    {% else %}
    <tr>
    {% endif %}
    {% elif game.onmove == 1 %}
    {% if game.player_1.id == uid %}
    <tr class="table-active">
    {% else %}
    <tr>
    {% endif %}
    {% else %}
    {% if game.player_2.id == uid %}
    <tr class="table-active">
    {% else %}
    <tr>
    {% endif %}
    {% endif %}
    <th scope="row">{{game.id}}</th>
    {% if game.onmove == 0 %}
    <td><strong class="text-success">{{game.player_0.username}} ({{ '%.2g' % game.player_0.score()|float }})</strong></td>
    {% else %}
    <td><span>{{game.player_0.username}} ({{ '%.2g' % game.player_0.score()|float }})</span></td>
    {% endif %}
    {% if game.onmove == 1 %}
    <td><strong class="text-success">{{game.player_1.username}} ({{ '%.2g' % game.player_1.score()|float }})</strong></td>
    {% else %}
    <td><span>{{game.player_1.username}} ({{ '%.2g' % game.player_1.score()|float }})</span></td>
    {% endif %}
    {% if game.onmove == 2 %}
    <td><strong class="text-success">{{game.player_2.username}} ({{ '%.2g' % game.player_2.score()|float }})</strong></td>
    {% else %}
    <td><span>{{game.player_2.username}} ({{ '%.2g' % game.player_2.score()|float }})</span></td>
    {% endif %}
    <td>
      {% if board == "ondro" %}
      <a class="btn btn-success btn-sm" href="{{ url_for('playlx', id=game.id) }}" role="button">Play</a>
      {% else %}
      <a class="btn btn-success btn-sm" href="{{ url_for('play', id=game.id) }}" role="button">Play</a>
      {% endif %}
    </td>
    <td>{{game.modified_at|strftime}}</td>
    <td class="d-none d-sm-table-cell">{{game.created_at|strftime}}</td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
<script>
window.setTimeout( function() {
  window.location.reload();
}, 30000);
</script>
{%endblock%}
