{% extends "base.html" %}

{%block content%}
<div class="container-fluid">
    <div class="row main-container">
        <!-- Canvas Area -->
        <div id="canvas-parent" class="col-lg-9 col-md-8">
            <div id="canvas" class="canvas-container">
            </div>
        </div>

        <!-- Sidebar -->
        <div class="col-lg-3 col-md-4">
            <div class="sidebar">
                <h5 class="mb-4 text-center">Tools</h5>
                <button id="fitBoard" class="btn btn-outline-success sidebar-btn">
                    Fit board
                </button>
                <button class="btn btn-outline-primary sidebar-btn" onclick="fitStageIntoDiv()">
                    Back
                </button>
                <button class="btn btn-outline-primary sidebar-btn" onclick="fitStageIntoDiv()">
                    Forward
                </button>
                <button class="btn btn-outline-warning sidebar-btn" onclick="fitStageIntoDiv()">
                    Reset
                </button>
                <button id="submitGame" class="btn btn-outline-danger sidebar-btn" onclick="boardSubmit()">
                    Submit
                </button>
                <h5 class="mb-4 text-center">Log</h5>
                <p class="text-break" id="log"></p>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block scripts %}
<script type="text/javascript">
var access_token = "Bearer {{ access_token }}";
var id = {{ id }};
</script>
<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}
