{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
{%endblock%}

{%block content%}
<!-- The Modal -->

<div id="main" class="divmain">

    <div id="myModal" class="modal">
    <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>GAME OVER!!!</p>
        </div>
    </div>

    <div id="myModal2" class="modal">
    <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Waiting for connection...</p>
        </div>
    </div>


    <canvas id="canvas" width="4320" height="2160"  onclick="Click_Board(event)" ></canvas>
    <div class="divbutt">
        <button id="b_bw" class="button" onclick="Click_Backward()"><</button>
        <button id="b_fw" class="button"  onclick="Click_Forward()">></button>
        <button id="b_rf" class="button"  onclick="Click_Refresh()">Reload</button>
        <button id="b_rt" class="button"  onclick="Click_Rotate()">Rotate</button>
        <button id="b_ok" class="button"  onclick="Click_OK()">OK</button>
    </div>
</div>

{%endblock%}

{% block scripts %}
<script type="text/javascript">
var TOKEN = "Bearer {{ access_token }}";
var ID = parseInt("{{ id }}");
const theme = JSON.parse('{{ theme|tojson }}');
const pieces_paths = JSON.parse('{{ pieces_paths|tojson }}');
</script>
</script>
<script type="text/javascript" src="{{ url_for('static', filename='board.js') }}"></script>
{% endblock %}
