{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}" xmlns="http://www.w3.org/1999/html">
{%endblock%}

{%block content%}
<!-- The Modal -->

<div id="main" class="divmain">
    <canvas id="canvas" width="4320" height="2180" onclick="Click_Board(event)"></canvas>
    <div class="divbutt"  >
        <div class="d-grid gap-2 col-6 mx" >
            <button id="b_ok" class="btn btn-secondary"  onclick="Click_OK()">OK</button>
            <button id="b_rf" class="btn btn-secondary"  onclick="Click_Refresh()">Reload</button>
            <button id="b_bw" class="btn btn-secondary"  onclick="Click_Backward()"><</button>
            <button id="b_fw" class="btn btn-secondary"  onclick="Click_Forward()">></button>
            <button id="b_rt" class="btn btn-secondary"  onclick="Click_Rotate()">Rotate</button>
            <button id="b_dr" class="btn btn-secondary"  onclick="Click_Draw()">Draw</button>
            <button id="b_rs" class="btn btn-secondary"  onclick="Click_Resign()">Resign</button>
        </div>
    </div>
</div>

<div class="modal" id="voteDialog" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
          <div class="col-sm-11 text-center">
            <h5 class="modal-title">Game <span id="voteKind1"></span> voting</h5>
          </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h4><strong><span id="votePlayers"></span></strong><br></h4>
        <hr>
        <h6 class="modal-title" onclick="Click_Cancel()">For game <span id="voteKind2"></span> all players must <span id="acceptVote"></span></h6>
      </div>
      <div class="modal-footer">
          <div class="col-sm-12 text-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="Click_Cancel()">Chancel</button>
              <button id="b_decline" type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="Click_Vote(false)">Decline</button>
              <button type="button" class="btn btn-success"  data-bs-dismiss="modal" onclick="Click_Vote(true)" style="background-color:#04d410"><span style="color:#000000">Accept</span></button>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="gameOver" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h1><strong><span id="gameOverText" >GAME OVER !!!</span></strong></h1>
        <hr>
        <h2><strong><span id="goVotePlayers"></span></strong></h2>
        <hr>
        <h3><span>Score:</span></h3>
      </div >
      <h3 class="mx-auto">
        <div >
          <table class="table">
              <tr id="goRatingPlayer0"></tr>
              <tr id="goRatingPlayer1"></tr>
              <tr id="goRatingPlayer2"></tr>
          </table>
        </div >
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="waitingMsg" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-body text-center">
            <h1><strong><span id="waitingText">Waiting<br/>for<br/>connection...</span></strong></h1>
        </div>
    </div>
  </div>
</div>

{%endblock%}

{% block scripts %}
<script type="text/javascript">
var TOKEN = "Bearer {{ access_token }}";
var ID = parseInt("{{ id }}");
const theme = JSON.parse('{{ theme|tojson }}');
const pieces_paths = JSON.parse('{{ pieces_paths|tojson }}');
</script>

<script type="text/javascript" src="{{ url_for('static', filename='board.js') }}"></script>
{% endblock %}
