{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
{%endblock%}

{%block content%}
<div class="row main-container">
    <div id="canvas" class="col-md-9 canvas-container">
    </div>
    <div class="col-md-3">
        <div class="sidebar">
            <div class="container text-center">
                <div class="row justify-content-md-center">
                <div class="col">
                    <button id="backMove" class="btn btn-primary mb-2 col-12" onclick="backMove()">
                        Back
                    </button>
                </div>
                <div class="col">
                    <button id="forwardMove" class="btn btn-secondary mb-2 col-12" onclick="forwardMove()">
                        Forward
                    </button>
                </div>
                </div>
                <div class="row justify-content-md-center">
                <div class="col">
                    <button id="voteDraw" class="btn btn-danger mb-2 col-12" onclick="voteDraw(true)">
                      Draw
                    </button>
                </div>
                <div class="col">
                    <button id="voteResign" class="btn btn-danger mb-2 col-12" onclick="voteResign(true)">
                      Resign
                    </button>
                </div>
                </div>
                <div class="row justify-content-md-center">
                <div class="col">
                    <button class="btn btn-success mb-2 col-12" onclick="fitStageIntoDiv()">
                        Fit
                    </button>
                </div>
                <div class="col">
                    <button class="btn btn-success mb-2 col-12" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLog" aria-expanded="false" aria-controls="collapseLog">
                        Slog
                    </button>
                </div>
                </div>
                <div class="row justify-content-md-center">
                <div class="col">
                    <button class="btn btn-warning mb-2 col-12" onclick="boardReset()">
                        Reset
                    </button>
                </div>
                <div class="col">
                    <button id="submitGame" class="btn btn-secondary mb-2 col-12" onclick="boardSubmit()">
                        <span id="submitText">Submit</span><div class="loader mt-1" id="loader"></div>
                    </button>
                </div>
                </div>
            </div>
            <div class="collapse" id="collapseLog">
                <small><p class="text-start text-break" id="log"></p></small>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectPiece" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Select piece</h5>
      </div>
      <div class="modal-body text-center">
        <button type="button" class="btn btn-secondary btn-lg btn-piece" onclick="promotePiece('Q')">♛</button>
        <button type="button" class="btn btn-secondary btn-lg btn-piece" onclick="promotePiece('R')">♜</button>
        <button type="button" class="btn btn-secondary btn-lg btn-piece" onclick="promotePiece('B')">♝</button>
        <button type="button" class="btn btn-secondary btn-lg btn-piece" onclick="promotePiece('N')">♞</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="voteDrawDialog" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Game draw voting</h5>
      </div>
      <div class="modal-body text-center">
        <p>Accepted by: <strong><span id="voteDrawAcceptPlayers"></span></strong><br>Declined by: <strong><span id="voteDrawDeclinePlayers"></span></strong></p>
        <hr>
        <span><em>For game draw all players must accept</em></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="voteDraw(false)">Decline</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="voteDraw(true)">Accept</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="voteResignDialog" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Game resign voting</h5>
      </div>
      <div class="modal-body text-center">
        <p>Accepted by: <strong><span id="voteResignAcceptPlayers"></span></strong><br>Declined by: <strong><span id="voteResignDeclinePlayers"></span></strong></p>
        <hr>
        <span><em>For game resign just players must accept</em></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="voteResign(false)">Decline</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="voteResign(true)">Accept</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
{% block scripts %}
<script type="text/javascript">
var access_token = "Bearer {{ access_token }}";
var id = parseInt("{{ id }}");
const theme = JSON.parse('{{ theme|tojson }}');
const pieces_paths = JSON.parse('{{ pieces_paths|tojson }}');
</script>
<script src="https://unpkg.com/konva@10/konva.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}
