{% extends "base.html" %}

{%block content%}
<div class="container mt-2">
  <div class="row">
    <div class="col-xl-12 col-xxl-11">
      <div id="canvas-parent"><canvas id="canvas" width="1100" height="690"  onclick="Click_Board(event)"></canvas></div>
    </div>
    <div class="col-1 text-center d-flex flex-column">
      <div>
        <button type="button" id="b_bw" class="btn btn-primary mb-2" onclick="Click_Backward()"><</button>
      </div>
      <div>
        <button type="button" id="b_fw" class="btn btn-primary mb-2" onclick="Click_Forward()">></button>
      </div>
      <div>
        <button type="button" id="b_rf" class="btn btn-primary mb-2" onclick="Click_Refresh()">R</button>
      </div>
      <div>
        <button type="button" id="b_ok" class="btn btn-primary mb-2" onclick="Click_OK()">OK</button>
      </div>
      <h4>Message</h4>
      <p class="text-break" id="message"></p>
    </div>
  </div>
</div>
{%endblock%}
{% block scripts %}
<script type="text/javascript">
var TOKEN = "Bearer {{ access_token }}";
var ID = "{{ id }}";
var VIEW_PID = "{{ view_pid }}";
</script>

<script type="text/javascript" src="{{ url_for('static', filename='board.js') }}"></script>
{% endblock %}
