{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}">
{%endblock%}

{%block content%}
<!-- The Modal -->

<div id="main" class="divmain">
    <canvas id="canvas" width="4320" height="2180"  onclick="Click_Board(event)" ></canvas>
    <div class="divbutt" onclick="Click_CloseModal()">
        <button id="b_dr" class="button"  onclick="Click_Draw()">Draw</button>
        <button id="b_rs" class="button"  onclick="Click_Resign()">Resignation</button>
        <button id="b_bw" class="button"  onclick="Click_Backward()"><</button>
        <button id="b_fw" class="button"  onclick="Click_Forward()">></button>
        <button id="b_rf" class="button"  onclick="Click_Refresh()">Reload</button>
        <button id="b_rt" class="button"  onclick="Click_Rotate()">Rotate</button>
        <button id="b_ok" class="button"  onclick="Click_OK()">OK</button>
    </div>
</div>

<div id="myModal" class="modal1">
<!-- Modal content -->
    <div class="modal-conxtent">
        <span class="close">&times;</span>
        <p>GAME OVER!!!</p>
    </div>
</div>

<div id="waitingMsg" class="modal1">
<!-- Modal content -->
    <div class="1">
        <span class="close">&times;</span>
        <p>Waiting for connection...</p>
    </div>
</div>

<div class="modal fade" id="voteDialog" tabindex="-1" role="dialog" data-bs-keyboard="false" data-bs-backdrop="static" >
  <div class="modal-dialog" >
    <div >
      <div class="pokus">
        <h5 class="modal-title" >Game <span id="voteKind1"></span> voting</h5>
      </div>
      <div class="pokus">
        <p><strong><span id="votePlayers"></span></strong><br></p>
        <hr>
        <h5 class="modal-title" onclick="Click_Cancel()">For game <span id="voteKind2"></span> all players must accept</h5>
      </div>
      <div class="modal-content">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="Click_Cancel()">Chancel</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="Click_Vote(false)">Decline</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" onclick="Click_Vote(true)">Accept</button>
      </div>
    </div>
  </div>
</div>



{%endblock%}

{% block scripts %}
<script type="text/javascript">
var TOKEN = "Bearer {{ access_token }}";
var ID = parseInt("{{ id }}");
const theme = JSON.parse('{{ theme|tojson }}');
const pieces_paths = JSON.parse('{{ pieces_paths|tojson }}');
</script>

<script type="text/javascript" src="{{ url_for('static', filename='board.js') }}"></script>
{% endblock %}
