{% extends "base.html" %}

{%block styles%}
<link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
{%endblock%}

{%block content%}
<div class="container-fluid">
    <div class="row main-container">
        <div id="canvas" class="col-lg-9 canvas-container">
        </div>
        <div class="col-lg-3">
            <div class="sidebar text-center">
                <h5 class="mb-4">Tools</h5>
                <div class="btn-group-vertical mb-4">
                    <button class="btn btn-success mb-2" onclick="fitStageIntoDiv()">
                        Fit board
                    </button>
                    <button class="btn btn-primary mb-2" onclick="backMove()">
                        Back
                    </button>
                    <button class="btn btn-primary mb-2" onclick="forwardMove()">
                        Forward
                    </button>
                    <button class="btn btn-warning mb-2" onclick="boardReset()">
                        Reset
                    </button>
                    <button id="submitGame" class="btn btn-outline-secondary" onclick="boardSubmit()">
                        Submit
                    </button>
                </div>
                <h5 class="mb-4">Log</h5>
                <small><p class="text-start text-break" id="log"></p></small>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{% block scripts %}
<script type="text/javascript">
var access_token = "Bearer {{ access_token }}";
var id = {{ id }};
</script>
<script src="https://unpkg.com/konva@9/konva.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}
