{% extends "base.html" %}

{%block content%}
<h2>Players rating</h2>
<div class="table-responsive-sm">
  <table class="table table-hover table-sm align-middle">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Player</th>
    <th scope="col">Rating</th>
    <th scope="col">Score</th>
    <th scope="col">Games</th>
    <th scope="col">WCPL</th>
    <th scope="col">Last</th>
    </tr>
  </thead>
  <tbody>
    {% for user in ratings %}
    {% if user.id == uid %}
    <tr  class="table-active">
    {% else %}
    <tr class="seat">
    {% endif %}
    <th scope="row">{{user.position}}</th>
    <td>
    {% if user.uid == uid %}
    <strong class="{{ on_move_color }}">{{user.username}}</strong>
    {% else %}
    <span>{{user.username}}</span>
    {% endif %}
    </td>
    <td><span>{{user.rating|round|int}}</span></td>
    <td><span>{{user.score}}</span></td>
    <td><span>{{user.played_games}}</span></td>
    <td><span>{{user.counts["win"]}}/{{user.counts["coop"]}}/{{user.counts["pass"]}}/{{user.counts["loss"]}}</span></td>
    <td><span>{{user.last_game|deltatime}}</span></td>
    {% endfor %}
   </tbody>
   </table>
</div>
{%endblock%}
