{% extends "base.html" %}

{%block content%}
<h2>Players rating</h2>
<div class="table-responsive-sm">
  <table class="table table-hover table-sm align-middle">
  <thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Player</th>
    <th scope="col">Rating</th>
    <th scope="col">Score</th>
    <th scope="col">Game count</th>
    <th scope="col">Last game</th>
    </tr>
  </thead>
  <tbody>
    {% for game in games %}
    {% if game.uid == uid %}
    <tr  class="table-active">
    {% else %}
    <tr class="seat">
    {% endif %}
    <th scope="row">{{game.position}}</th>
    <td>
    {% if game.uid == uid %}
    <strong class="{{ on_move_color }}">{{game.username}}</strong>
    {% else %}
    <span>{{game.username}}</span>
    {% endif %}
    </td>
    <td><span>{{game.rating}}</span></td>
    <td><span>{{game.score}}</span></td>
    <td><span>{{game.game_count}}</span></td>
    <td><span>{{game.game_last|deltatime}}</span></td>
    {% endfor %}
   </tbody>
   </table>
</div>
{%endblock%}
